.pantalla-admin {
  padding: 1rem;
  text-align: center;
  font-family: "EB Garamond", serif;
}

.bienvenida-container {
  padding: 1.2rem;
  border-radius: 0.625rem;
  text-align: center;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s;
  margin-top: -1rem;
}

.bienvenida-titulo {
  color: #333;
  font-size: 2.25rem;
  margin: 0;
}

.icono-bienvenida {
  margin-right: 0.625rem;
}

.subtitulo {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #49383894;
  margin-bottom: 1.2rem;
}

.tarjetas-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 1.25rem;
}

/* Base tarjeta */
.tarjeta {
  border: none;
  border-radius: 0.75rem;
  padding: 1.25rem;
  margin: 0;
  width: 16.1rem;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
}

.tarjeta:hover {
  transform: scale(1.05);
}

.tarjeta-link {
  text-decoration: none;
  color: inherit;
}

.icono-tarjeta {
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
}

/* Colores personalizados por sección */
.tarjeta.usuarios {
  background-color: #7f5fbf;
  color: #fefcc9;
}

.tarjeta.productos {
  background-color: #00ccbd;
  color: #fefcc9;
}

.tarjeta.pedidos {
  background-color: #4cba7d;
  color: #fefcc9;
}

.tarjeta.promociones {
  background-color: #ff5987;
  color: #fefcc9;
}
.tarjeta.informes {
  background-color: #f4a261;
  color: #fefcc9;
}

.tarjeta.categorias {
  background-color: #6c757d; /* gris elegante */
  color: #fefcc9;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.icono-alerta-pedidos {
  color: rgb(255, 94, 0);
  font-size: 1.1rem;
  margin-left: 8px;
  animation: parpadeo 1s infinite;
  vertical-align: middle;
}

@keyframes parpadeo {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
