.background-container-ubicacion {
  background-color: #89dbaa;
  width: 100%;
  padding: 2rem 0; /* opcional */
  
}

.container-ubicacion {
  max-width: 80rem;
  margin-top: -3rem !important;
  margin-bottom: -3rem !important;
  padding: 0 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  max-width: 100% !important;
  gap: 2.5rem;
  font-family: "Roboto Condensed", sans-serif;
}


/* Contenedor general del mapa */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 100%;
}

/* Estilo para el iframe */
.map-iframe {
  margin-top: -5rem;
  border: 0;
  border-radius: 2rem;
  width: 90%;
  max-width: 65rem;
  height: 450px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* Estilo para el título */
.titlo {
  font-size: 2rem;
  line-height: 1.5;
  color: white;
  text-align: center;
}

.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.gif-img {
  margin-top: -13rem;
  max-width: 80%;
  height: auto;
}


.social-section {
  margin-top: -4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  background-color: #8771c3;
  padding: 1rem 26.5rem;
  color: white;
  max-width: 100% !important;
  gap: 10rem;
  font-family: "Roboto Condensed", sans-serif;
}

.social-icon {
  font-size: 3.5rem;
  color: #ffffff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #11254f;
}

/* MEDIA QUERIES */

/* Para pantallas medianas y menores (tablets) */
@media (max-width: 992px) {
  .container {
    padding: 0 2rem;
    max-width: 0%;
  }

  .map-iframe {
    max-width: 100%;
    height: 350px;
    margin-top: -3rem;
  }

  .gif-img {
    max-width: 90%;
    margin-top: -8rem;
  }

  .social-section {
    gap: 5rem;
  }

  .social-icon {
    font-size: 3rem;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .container {
    padding: 0 1rem;
    max-width: 100%;
  }

  .map-iframe {
    width: 100%;
    height: 250px;
    margin-top: 0;
    border-radius: 1rem;
  }

  .gif-img {
    max-width: 100%;
    margin-top: -4rem;
  }

  .social-section {
    gap: 7.6rem;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .social-icon {
    font-size: 2.5rem;
  }

  .titlo {
    font-size: 1.5rem;
  }
}
